BasedOnStyle: LLVM
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -2
AllowShortLoopsOnASingleLine: true
